:root{
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0,0,0,0.2);
  --primary-color: rgb(255, 0, 86);
  --text-color: #0A0A0A;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1;
}

.app {
  text-align: center;
  align-items: center;
}

a{
  text-decoration: none;
}

.navbar{
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; */
  height: 55px;
  box-shadow: 0 3px 6px var(--shadow-color);
  /* background-color:  #000000; */
  color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
  
}

.navbar .logo{
  font-size: 1.2em;
  font-weight: bolder;
  color: var(--primary-color);
  text-decoration: none;
  text-shadow: 0 1px 3px var(--shadow-color);
}


.navbar .nav-links a{
  margin-left: 1em;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  font-size: .9em;
}

.navbar .nav-links a::before{
  content: '';
  display: inline-block;
  height: 3px;
  width: 100%;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: calc(0.5s * 1) ease-in-out;
}

.navbar .nav-links a:hover::before{
  transform: scaleX(1);
}

.active{
  color: var(--primary-color) !important;
  font-weight: bolder;
}

/* SCROLL TO TOP BUTTON */
.scroll-to-top-button {
  position: fixed;
  top: 90%; /* distance from top of the page */
  right: 50px; /* distance from right side of the page */
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}

/* .sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  background-color: var(--background-color);
  box-shadow: 0 0 0 1000px rgba(0,0,0,0.2),
              3px 0 5px var(--shadow-color);
} */


/* POSTS */

.post-component{
  width: 60%;
  margin: 0 auto;
  
}

.posts{
  /* margin: auto; */
  margin-top: 5px;
}

.post{
  display: flex;
  border-bottom: 1px solid white;
  padding: 10px;
}

.posts img{
  width: 250px;
  height: 30vh;
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
}

.posts .post-content{
  margin-left: 10px;
  /* padding: 10px; */
}

.posts .post-content h2{
  font-size: 32px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  text-transform: uppercase;
  
}

.posts .post-content h2:hover{
  color: var(--primary-color);
}

.posts .post-content .post-description{
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.1px;
}

.posts .post-content .post-description a{
  color: red;
  font-size: .75em;
  margin-left: 5px;
}

.posts .post-content .more-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .75em;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.like-button{
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.like-button:hover{
  background-color: #eee;
}



.clicked {
  background-color: #f44336;
  color: white;
  animation: pulse 0.3s;
}

.unclicked{
  color: default;
}
/* .posts .post-content .more-info .fa-thin{
  background-color: #000000;
  color: white;
  border: none;
} */

/* TOP HEADLINES */
.country-codes{
  padding: 5px;
  width: 50%;
  display: block;
  text-align: center;
  
}

.country-codes h2{
  font-size: 2.5em;
  font: bolder;
}

.country-codes h2 select{
  margin-left: 10px;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  margin-top: .6em;
  font-size: 1rem;
}